/*
++
Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is 
governed by the GPLv2.

Report issues and contribute at http://dev.joyent.com/

$Id$
--
*/
	
/* App Bar ----------------------------------------------------- */

	#lists .dockLists a {	
		width: 97px;
		}

/* Toolbar (actionsLists) ------------------------------------------- */

	.actionOutdent a {	
		width: 26px !important;
		background-image: url(/images/lang/nl/actionsLists.png);
		}
	.actionIndent a {	
		width: 93px !important;
		background-image: url(/images/lang/nl/actionsLists.png);
		}
	.actionDeleteRow a {	
		width: 105px !important;
		background-image: url(/images/lang/nl/actionsLists.png);
		}
	.actionAttributes a {	
		width: 93px !important;
		background-image: url(/images/lang/nl/actionsLists.png);
		}
	.actionNewRow a {	
		width: 109px !important;
		background-image: url(/images/lang/nl/actionsLists.png);
		}
	.actionMoveUp a {	
		width: 26px !important;
		background-image: url(/images/lang/nl/actionsLists.png);
		}
	.actionMoveDown a {	
		width: 26px !important;
		background-image: url(/images/lang/nl/actionsLists.png);
		}
