/* Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is governed
by either the GPLv2 or Joyent Commercial Software licenses.

Report issues and contribute at http://dev.joyent.com/

$Id$ */

/* Toolbar (actions) ------------------------------------------- */

	.actionMonthView a {
		width: 111px !important;
		background-image: url(/images/lang/de/actionsCalendar.png);
		}
	.actionListView a {
		width: 103px !important;
		background-image: url(/images/lang/de/actionsCalendar.png);
		}
	.actionDayView a {
		width: 101px !important;
		background-image: url(/images/lang/de/actionsCalendar.png);
		}
	.actionWeekView a {
		width: 112px !important;
		background-image: url(/images/lang/de/actionsCalendar.png);
		}
	.actionOverlayUser a {
		width: 150px !important;
		background-image: url(/images/lang/de/actionsCalendar.png);
		}
	.actionToday a {
		width: 63px !important;
		background-image: url(/images/lang/de/actionsCalendar.png);
		}