/* Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is governed
by either the GPLv2 or Joyent Commercial Software licenses.

Report issues and contribute at http://dev.joyent.com/

$Id$ */

/* Dock ----------------------------------------------------------------- */

	/* This stuff will be moved
	to a new set of app specific
	CSS files, that persist across
	all apps */	
	.dockConnect a {	
		background-image: url(/images/lang/de/app-connect.png);
		}
	.dockMail a {	
		background-image: url(/images/lang/de/app-mail.png);
		}
	.dockCalendar a {		
		background-image: url(/images/lang/de/app-calendar.png);
		}
	.dockPeople a {	
		background-image: url(/images/lang/de/app-people.png);
		}
	.dockFiles a {	
		background-image: url(/images/lang/de/app-files.png);
		}
	.dockBookmarks a {	
		background-image: url(/images/lang/de/app-bookmarks.png);
		}
	.dockLists a {	
		background-image: url(/images/lang/de/app-lists.png);
		}
	/* end stuff */


/* Sidebar Tabs ----------------------------------------------------------------- */


	.sidebarTab a {
		background-image: url(/images/lang/de/tabs.png);
		}
	#groupsSidebarTab a {
		height: 89px;
		}	
	#rulesSidebarTab a {
		height: 80px;
		}	
	#tagsSidebarTab a {
		height: 80px;
		}	
	#accessSidebarTab a {
		height: 84px;
		}	
	#notifySidebarTab a {
		height: 155px;
		}	


/* General Toolbar (actions) -------------------------------------------- */

	.actionMove a {	
		width: 81px !important;
		background-image: url(/images/lang/de/actionsGeneral.png);
		}
	.actionCopy a {	
		width: 81px !important;
		background-image: url(/images/lang/de/actionsGeneral.png);
		}
	.actionCopyDirect a {	
		width: 77px !important;
		background-image: url(/images/lang/de/actionsGeneral.png);
		}
	.actionNew a {	
		width: 52px !important;
		background-image: url(/images/lang/de/actionsGeneral.png);
		}
	.actionImport a {
		width: 95px !important;
		background-image: url(/images/lang/de/actionsGeneral.png);
		}
	.actionShowAll a {
		width: 103px !important;
		background-image: url(/images/lang/de/actionsGeneral.png);
		}
	.actionShowNew a {
		width: 111px !important;
		background-image: url(/images/lang/de/actionsGeneral.png);
		}
	.actionDelete a {	
		width: 76px !important;
		background-image: url(/images/lang/de/actionsGeneral.png);
		}
	.actionSaveSearch a {	
		width: 105px !important;
		background-image: url(/images/lang/de/actionsGeneral.png);
		}
	.actionTools a {	
		width: 91px !important;
		background-image: url(/images/lang/de/actionsGeneral.png);
		}
	.actionEdit a {	
		width: 84px !important;
		background-image: url(/images/lang/de/actionsGeneral.png);
		}