<% # ++ -%>
<% # Copyright 2004-2007 Joyent Inc. -%>
<% #  -%>
<% # Redistribution and/or modification of this code is  -%>
<% # governed by the GPLv2. -%>
<% #  -%>
<% # Report issues and contribute at http://dev.joyent.com/ -%>
<% #  -%>
<% # $Id$ -%>
<% # -- -%>

<%= add_to_workspace(:lists_standard_group, standard_group) %>
<hr />
<%= link_to "RSS", lists_standard_rss_url(:group_id => standard_group.id), { :class => 'orangeBadge rss', :title=> _('Subscribe to this RSS feed') } %>