<% # ++ -%>
<% # Copyright 2004-2007 Joyent Inc. -%>
<% #  -%>
<% # Redistribution and/or modification of this code is  -%>
<% # governed by the GPLv2. -%>
<% #  -%>
<% # Report issues and contribute at http://dev.joyent.com/ -%>
<% #  -%>
<% # $Id$ -%>
<% # -- -%>

Hi <%= @user.full_name %>,

You or someone else on your team recently asked us to reset your password.

Your password has been reset to: <%= @user.plaintext_password %>

Thanks,

The Joyent Team