<%#
++
Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is 
governed by the GPLv2.

Report issues and contribute at http://dev.joyent.com/

$Id$
--
-%>

Message ID: <%= @message.id %>
Username:   <%= @message.owner.username %>
Mailbox:    <%= @message.mailbox.full_name %>
Full path:  <%= @message.full_path %>
