/* Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is governed
by either the GPLv2 or Joyent Commercial Software licenses.

Report issues and contribute at http://dev.joyent.com/

$Id$ */
	
/* App Bar ----------------------------------------------------- */

	#lists .dockLists a {	
		width: 92px;
	}

/* Toolbar (actionsLists) ------------------------------------------- */

	.actionOutdent a {	
		width: 26px !important;
		background-image: url(/images/lang/es/actionsLists.png);
		}
	.actionIndent a {	
		width: 63px !important;
		background-image: url(/images/lang/es/actionsLists.png);
		}
	.actionDeleteRow a {	
		width: 90px !important;
		background-image: url(/images/lang/es/actionsLists.png);
		}
	.actionAttributes a {	
		width: 87px !important;
		background-image: url(/images/lang/es/actionsLists.png);
		}
	.actionNewRow a {	
		width: 84px !important;
		background-image: url(/images/lang/es/actionsLists.png);
		}
	.actionMoveUp a {	
		width: 26px !important;
		background-image: url(/images/lang/es/actionsLists.png);
		}
	.actionMoveDown a {	
		width: 26px !important;
		background-image: url(/images/lang/es/actionsLists.png);
		}