<%#
++
Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is 
governed by the GPLv2.

Report issues and contribute at http://dev.joyent.com/

$Id$
--
-%>

<% @page_javascript << javascript_jsar_init(@people, 'list') -%>

<div style="position: relative;" class="report">
  <%= render_list_header(@group_name, @paginator, 'people') %>
  <%= render :partial => 'reports/timezones' %>
</div>
