<%#
++
Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is 
governed by the GPLv2.

Report issues and contribute at http://dev.joyent.com/

$Id$
--
-%>

<h2><%= _('What is it?') %></h2>
<p><%= _('A place where you can gather views from every Connector application.') %></p>
<br />
<h2><%= _('How do I add a group?') %></h2>
<p><%= _("Check the 'Visible in your Workspace' checkbox in its info panel.") %></p>