<% # ++ -%>
<% # Copyright 2004-2007 Joyent Inc. -%>
<% #  -%>
<% # Redistribution and/or modification of this code is  -%>
<% # governed by the GPLv2. -%>
<% #  -%>
<% # Report issues and contribute at http://dev.joyent.com/ -%>
<% #  -%>
<% # $Id$ -%>
<% # -- -%>

<%= add_to_workspace(report_description_name, selected_user) %>
<hr />
<%= link_to "RSS", rss_url, { :class => 'orangeBadge rss', :title=> _('Subscribe to this RSS feed') } %>