/*
++
Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is 
governed by the GPLv2.

Report issues and contribute at http://dev.joyent.com/

$Id$
--
*/

body {
	background-color: #FFF;
	font-size: 11px;
	line-height: 1.5em;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #585F5E;
	padding: 0px;
	margin: 0px;
	background-image: url(/images/facebook/fb-bg.png);
	background-repeat: no-repeat;
	background-position: center top;
}
#book {
	margin: 0px auto;
	padding: 0px;
	text-align: left;
	width: 789px;
	padding-top: 35px;
}
#sidebar {
	float: left;
	width: 108px;
	display: block;
	background-color: #F4F5F5;
	border-width: 0 0 1px 0;
	border-color: #D1D4D3;
	border-style: solid;
	margin-left: 12px;
	margin-top: 20px;
	padding: 10px;
}
#sidebar a {
}
#widebar {
	float: left;
	width: 647px;
	display: block;
	background-color: #FFF;
	border-top: 1px #002F72 solid;
	border-right: 1px #A0A6A5 solid;
	border-bottom: 1px #184184 solid;
	border-left: 1px #A0A6A5 solid;
}

#content-header {
	background-color: #F4F5F5;
	border-width: 0 0 1px 0;
	border-color: #BBBFBE;
	border-style: solid;
	padding: 20px 20px 10px 20px;
}
#content {
	padding: 20px;
}

hr {
	border: 0;
	background-color: #BBBFBE;
	height: 1px;
}
.features {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}
.bullet_point {
	color:#DADADA;
}
td.border-up {
	border-style: solid;
	font-size: 16px;
	line-height: 24px;
	color: #333;
	padding-left: 0;
}



.tag {
	font-size: 15px;
	color: #7C7F7E;
}

.error p {
	padding: 0 0 1em 0; 
}
h1 {
	font-size: 12px;
	margin: 13px 20px 0 0;
}
h2.first {
	margin-top: 0;
}
h2 {
	padding: 0;
	margin: 2em 0 0 0;
	font-size: 16px;
	font-weight: normal;
}

a { 
	background-color:transparent;
	color:#3B5998;
	text-decoration: none;
}
a:hover { 
	text-decoration: underline;
}
a:visited { 
	color:#3B5998;
}
.error a { 
	text-decoration: underline; 
}

#loginTable {
}
.info {
	border-color: #001C2C;
	border-width: 1px;
	border-style: solid;
	padding: 1em;
	margin-bottom: 1em;
	background-color: #05213b;
}
.label {
	text-align: right;
	width:12em;
}
.resetPassword a {
	text-decoration: underline;
}

	dt {
		width:9em;
		text-align:right;
		display:block;
		float:left;
		margin: 0px 0 0 0;
		color:#FFF;
		font-size:13px;
	}
	dd {
		margin:0px 0 0px 11.5em;
		padding:0;
	}
	dd h3 {	
		margin: 0px;
		padding: 0px;
	}
	dt+dd {
		margin-top:8px;
	}
	dd+dt {	
		margin-top:8px;
	}
	dd pre {
		margin:0px;
		padding:0;
		white-space: normal;
		font-family:inherit;
		font-size:inherit;
	}
	dd em {
		margin-left:8px;
		font-style:italic;
	}
	#loginButton {	
		margin:0 0 10px 13em;
	}
	#ExtraBits {
		font-size:.85em;
		text-align:left;
		margin: 10px 0 0 25px;
		}
