/* Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is governed
by either the GPLv2 or Joyent Commercial Software licenses.

Report issues and contribute at http://dev.joyent.com/

$Id$ */

/* Toolbar (actions) --------------------------------------------- */

	.actionCompose a.disabled, .actionCompose a:hover.disabled {
		background-position: 0px 0px;
	}
	.actionCompose a {
		background-position: 0px -30px;
	}
	.actionCompose a:hover {
		background-position: 0px -60px;
	}
	.actionCompose a:active, .actionCompose a.active {
		background-position: 0px -90px;
	}
		
	.actionEmptyTrash a.disabled, .actionEmptyTrash a:hover.disabled {
		background-position: -150px 0px;
	}
	.actionEmptyTrash a {
		background-position: -150px -30px;
	}
	.actionEmptyTrash a:hover {
		background-position: -150px -60px;
	}
	.actionEmptyTrash a:active, .actionEmptyTrash a.active {
		background-position: -150px -90px;
	}
	
	.actionReply a.disabled, .actionReply a:hover.disabled {
		background-position: -300px 0px;
	}
	.actionReply a {
		background-position: -300px -30px;
	}
	.actionReply a:hover {
		background-position: -300px -60px;
	}
	.actionReply a:active, .actionReply a.active {
		background-position: -300px -90px;
	}
		
	.actionReplyAll a.disabled, .actionReplyAll a:hover.disabled {
		background-position: -450px 0px;
	}
	.actionReplyAll a {
		background-position: -450px -30px;
	}
	.actionReplyAll a:hover {
		background-position: -450px -60px;
	}
	.actionReplyAll a:active, .actionReplyAll a.active {
		background-position: -450px -90px;
	}
		
	.actionForward a.disabled, .actionForward a:hover.disabled {
		background-position: -600px 0px;
	}
	.actionForward a {
		background-position: -600px -30px;
	}
	.actionForward a:hover {
		background-position: -600px -60px;
	}
	.actionForward a:active, .actionForward a.active {
		background-position: -600px -90px;
	}

	.actionNotJunk a.disabled, .actionNotJunk a:hover.disabled {
		background-position: -750px 0px;
	}
	.actionNotJunk a {
		background-position: -750px -30px;
	}
	.actionNotJunk a:hover {
		background-position: -750px -60px;
	}
	.actionNotJunk a:active, .actionNotJunk a.active {
		background-position: -750px -90px;
	}

	.actionJunk a.disabled, .actionJunk a:hover.disabled {
		background-position: -900px 0px;
	}
	.actionJunk a {
		background-position: -900px -30px;
	}
	.actionJunk a:hover {
		background-position: -900px -60px;
	}
	.actionJunk a:active, .actionJunk a.active {
		background-position: -900px -90px;
	}

	.actionFlag a.disabled, .actionFlag a:hover.disabled {
		background-position: -1200px 0px;
	}
	.actionFlag a {
		background-position: -1200px -30px;
	}
	.actionFlag a:hover {
		background-position: -1200px -60px;
	}
	.actionFlag a:active, .actionJunk a.active {
		background-position: -1200px -90px;
	}

	.actionUnflag a.disabled, .actionUnflag a:hover.disabled {
		background-position: -1350px 0px;
	}
	.actionUnflag a {
		background-position: -1350px -30px;
	}
	.actionUnflag a:hover {
		background-position: -1350px -60px;
	}
	.actionUnflag a:active, .actionJunk a.active {
		background-position: -1350px -90px;
	}

/* sidebar -------------------------------------------------- */

	#mail .smartGroup {		
		background-image: url(/images/icons/mailboxSmart.png);
		}
	#mail .group {		
		background-image: url(/images/icons/groupMail.png);
		}
	#mail .group.subscription {		
		background-image: url(/images/icons/mailboxesSubscription.png);
	}

/* --------------------------------------------- */

	.buttonPrevious {
		padding-left: 18px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-image: url(/images/icons/arrowPrevious.png);
	}
	.buttonPrevious:hover {
		background-position: 0 -100px;
	}
	.buttonNext {
		padding-right: 18px;
		background-position: right 0;
		background-repeat: no-repeat;
		background-image: url(/images/icons/arrowNext.png);
	}
	.buttonNext:hover {
		background-position: right -100px;
	}
	
	#mail iframe {
		border-color: #FFF;
		border-width: 0px;
	}


/* Left Column--------------------------------------------- */

	#mail a.genericGroup, #mail a.defaultGroupAll, a.defaultGroupTrash, a.defaultGroupDrafts, a.defaultGroupInbox, a.defaultGroupSent {
		margin:0; 
		display:block;
		}
	#mail a.smartGroup {		
		background-image: url(/images/icons/mailboxSmart.png);
		}
	#mail a.genericGroup {
		background-image: url(/images/icons/mailbox.png);
		}
	#mail a.defaultGroupTrash {		
		background-image: url(/images/icons/trash.png);
		}
	#mail a.defaultGroupInbox, #mail a.defaultGroupAll, a.defaultGroupJunk  {	
		background-image: url(/images/icons/inbox.png);
		}
	a.defaultGroupSent {		
		background-image: url(/images/icons/inboxSent.png);
		}
	a.defaultGroupDrafts {
		background-image: url(/images/icons/inboxDrafts.png);
		}
	.removeEmail {
		padding: 2px 13px 2px 0;
		margin: 0 1em 0 0;
		background-image: url(/images/icons/smallMinus.png);
		background-repeat: no-repeat;
		background-position: 100% 4px;
	}
	.removeEmail:hover {
		background-position: 100% -96px;
	}
	.removeEmail:active {
		background-position: 100% -196px;
	}
			
/* Item View ------------------------------------------- */
	
	/* Mail Header --------------------------------------- */

		.typeAddContact, a.typeAddContact {
			width:16px;
			height:16px;
			padding:3px 0 3px 12px;
			font-weight:normal;
			margin:0;
			white-space:nowrap;
			background: url(/images/mail/plusSmall9.gif) left no-repeat;
			}
		a.typeAddContact {
			background: url(/images/mail/plusSmall9.gif) left no-repeat;
			}
		a.typeAddContact:hover {
			background: url(/images/mail/plusSmall9Hover.gif) left no-repeat;
			}
		.typeAddContactNoLabel, a.typeAddContactNoLabel {
			width:16px;
			height:16px;
			padding: 0 5px;
			font-weight:normal;
			margin:0;
			background: url(/images/mail/plusSmall.png) center no-repeat;
			}
		a.typeAddContactNoLabel:hover {
			text-decoration:none;
			background: url(/images/mail/plusSmallHover.png) center no-repeat;
			}
		.typeAddContactNoLabel span {	
			width: 16px;
			padding: 0 2px;
			font-size: xx-small;
			}
		.typeContactNoLabel, a.typeContactNoLabel {
			width:18px;
			height:16px;
			padding: 3px 5px;
			font-weight:normal;
			margin:0;
			}
		a.typeContactNoLabel span {
			width: 16px;
			padding: 0 2px;
			font-size: xx-small;
			}
		.typeUserNoLabel, a.typeUserNoLabel {
			width:16px;
			height:16px;
			padding: 0 5px;
			font-weight:normal;
			margin:0;
			background: url(/images/mail/contact12.png) center no-repeat;
			}
		.typeContactNoLabel a:hover, a.typeContactNoLabel:hover {
			background: url(/images/mail/contact12Hover.png) center no-repeat;
			}
		.typeUserNoLabel, a.typeUserNoLabel {
			background: url(/images/mail/people12.png) center no-repeat;
			}
		a.typeUserNoLabel span {
			width: 16px;
			font-size: xx-small;
			}
			
	
	
	
	
	
	#mail #contentPane dl {
		padding: 0;
		margin: 0;
		}
	#mail #contentPane dt+dd {
		margin-top:2px;
		}
	#mail #contentPane dd+dt {	
		margin-top:2px;
		}
	#mail #contentPane dt {
		width:8em;
		text-align:right;
		display:block;
		float:left;
		margin:0px 0 0 0;
		}
	#mail #contentPane dd {
		margin:0px 0 0px 8.5em;
		padding:0;
		}
	.mailViewShow {
		width:100%;
		height:60em;
		}
	.mailViewPeek {
		/* this is now inline */
		width:100%;
		height:20em;
		}
	#emailTextField {		
		padding: 1em;
		position: relative;
	}
	#draftHTMLWarning {
		margin: 1em;
		border: 1px solid #ea2800;
		background: #f8c7ce;
		padding: 1em;
		color: #ea2800;
		font-weight: bold;
	}

/* List View--------------------------------------------- */

	#mail .message {
		padding-left: 86px;
		}
	#mail pre {
		font-family: "Lucida Grande", Verdana, sans-serif;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		}
	#mail pre .message {
		white-space: -moz-pre-wrap;
		}
	td.statusCol, td.enclosure {
		padding: 0 auto;
		text-align: center;
	}
	th.status, th.has_attachments, td.seen, th.seen {
		white-space:nowrap;
		width:18px;
		}
	th a.status, th a.attachments {
		display: block;
		width: 16px;
		height: 16px;
		text-indent: -3000px;
		margin: 0 auto;
	}
	th a.status {
		background-image: url(/images/icons/readStatus.png);
		background-position: 0 -100px;
		}
	th a.attachments {
		background-image: url(/images/icons/paperClip.png);
		background-position: 0 -100px;
		}
	.from, th.from {
		width:25%;
		}
	.subject, th.subject {	
		width: 49%;
		}
	.dateSent, th.dateSent {
		width:23%;
		white-space:nowrap;
		}
	.messagePeek {
		padding: 0px 0px 15px 100px;
		}
	.jan, .flag {
		background-image: url(/images/icons/flag.png);
		width: 12px;
		height: 12px;
		text-indent: -3000px;
		}
	.flag {
		background-position: 0 0;
		}
	.jan {
		background-position: 0 -100px;
		}
