/* Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is governed
by either the GPLv2 or Joyent Commercial Software licenses.

Report issues and contribute at http://dev.joyent.com/

$Id$ */

/* Toolbar (actions) --------------------------------------------- */

	.actionJajah a.disabled, .actionJajah a:hover.disabled {
		background-position: 0px 0px;
	}
	.actionJajah a {
		background-position: 0px -30px;
	}
	.actionJajah a:hover {
		background-position: 0px -60px;
	}
	.actionJajah a:active, .actionJajah a.active {
		background-position: 0px -90px;
	}

/* sidebar -------------------------------------------------- */

	.people, .defaultGroupAll {		
		background-image: url(/images/icons/addressBook16.png);
		}
	.smartGroup {		
		background-image: url(/images/icons/groupFolderSmart.png);
		}
	.group {		
		background-image: url(/images/icons/groupFolder.png);
		}
	.group.subscription {
		background-image: url(/images/icons/contactSubscription.png);
		}
	a.smartGroup {		
		background-image: url(/images/icons/contactSmart.png);
		}
	.userFolder {		
		background-image: url(/images/icons/userFolder.png);
		}

/* item ------------------------------------------------------ */

	.primaryItem {
		height:12px;
		width:12px;
		margin:3px 0px 0px 0px;
		background: url(/images/people/primary.png) no-repeat;
		border:0px solid #000;
		background-position: 50% 50%;
		}
	.primaryItem span {
		display:none;
		}
	.makePrimaryItem {
		height:12px;
		width:12px;
		background: url(/images/people/primaryMake.png) no-repeat;
		border:0px solid #000;
		background-position: 50% 50%;
		}
	.makePrimaryItem span {
		display:none;
		}
	#show_edit_account a {
		padding: 2px 0 2px 18px;
		background-repeat: no-repeat;
		background-image: url(/images/icons/dinger.png);
		background-position: 0 -97px;
		display: block;
		padding-bottom: 8px !important;
	}
	#show_edit_account a:hover {
		background-position: 0 -147px;
	}
	h2#show_edit_account.expanded a {
		padding-bottom: 0px !important;
		background-position: 0 3px;
	}
	h2#show_edit_account.expanded a:hover {
		background-position: 0 -47px;
	}
	#person_addresses tr:first-child td table {
		margin-top: 0px !important;
	}
	#person_addresses tr td table {
		margin-top: 2em !important;
	}
	
	
	#people a.addItem, #people .addItem {
		margin-left: 17px !important;
	}
	.notification_types select {
		margin-top: .25em;
	}
	.notification_type {
		margin-top: .5em;
	}

/* Item View ------------------------------------------- */
				
	#contentPane dl {
		padding: 0;
		}
	#contentPane dt+dd {
		margin-top:1.5em;
		}
	#contentPane dd+dt {	
		margin-top:1.5em;
		}
	#contentPane dt {
		width:10em;
		text-align:right;
		display:block;
		float:left;
		margin:0px 0 0 0;
		}
	#contentPane dd {
		margin:0.3em 0 0px 10.5em;
		padding:0;
		}
		
/* Edit View Fix --------------------------------------- */

	#ContectCell legend, #ContectCell legend a {		
		color: #777;
		}
	#item_editor legend, #item_editor legend a {		
		font-weight: bold !important;
		font-size: 1.1em !important;
		margin: 0 0 0 0;
		padding: 0 5px 0 5px;
		}

	#item_editor fieldset {		
		border: #DCDCDC;
		border-width: 1px 0 0 0;
		margin: 2.5em 0 1em 0;
		padding-top: 0.75em;
		border-style: solid;
		border: #DCDCDC;
		border-width: 1px 0 0 0;
		margin: 1.75em 0 1em 0;
		padding-top: 0.75em;
		border-style: solid;
		}
	.addItem {
		margin:1em 0 0 0;
		margin:1em 0 0 0;
		}

/* index view */

td.person a, th.person a {
  background-image: url(/images/icons/personType.png);
  width: 12px;
  height: 14px;
  display: block;
  text-indent: -3000px;
  margin: 0 auto 0 auto;
}
th.person a.personType {	
  background-position: 0 2px;
}
td.person a.user {	
  background-position: 0 -98px;
}
td.person a.admin {	
  background-position: 0 -198px;
}
td.person a.contact {	
  background-position: 0 -298px;
}
