/* Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is governed
by either the GPLv2 or Joyent Commercial Software licenses.

Report issues and contribute at http://dev.joyent.com/

$Id$ */

/* Toolbar (actions) --------------------------------------------- */

	.actionJajah a.disabled, .actionJajah a:hover.disabled {
		background-position: 0px 0px;
	}
	.actionJajah a {
		background-position: 0px -30px;
	}
	.actionJajah a:hover {
		background-position: 0px -60px;
	}
	.actionJajah a:active, .actionJajah a.active {
		background-position: 0px -90px;
	}

/* sidebar -------------------------------------------------- */

	.people, #people .defaultGroupAll {		
		background-image: url(/images/icons/addressBook16.png);
		}
	#people .smartGroup {		
		background-image: url(/images/icons/groupFolderSmart.png);
		}
	#people .group {		
		background-image: url(/images/icons/groupFolder.png);
		}
	#people .group.subscription {
		background-image: url(/images/icons/contactSubscription.png);
		}
	#people a.smartGroup {		
		background-image: url(/images/icons/contactSmart.png);
		}
	.userFolder {		
		background-image: url(/images/icons/userFolder.png);
		}

/* item ------------------------------------------------------ */

	.primaryItem {
		height:12px;
		width:12px;
		margin:3px 0px 0px 0px;
		background: url(/images/people/primary.png) no-repeat;
		border:0px solid #000;
		background-position: 50% 50%;
		}
	.primaryItem span {
		display:none;
		}
	.makePrimaryItem {
		height:12px;
		width:12px;
		background: url(/images/people/primaryMake.png) no-repeat;
		border:0px solid #000;
		background-position: 50% 50%;
		}
	.makePrimaryItem span {
		display:none;
		}
	#show_edit_account a {
		padding: 2px 0 2px 18px;
		background-repeat: no-repeat;
		background-image: url(/images/icons/dinger.png);
		background-position: 0 -97px;
		display: block;
		padding-bottom: 8px !important;
	}
	#show_edit_account a:hover {
		background-position: 0 -147px;
	}
	h2#show_edit_account.expanded a {
		padding-bottom: 0px !important;
		background-position: 0 3px;
	}
	h2#show_edit_account.expanded a:hover {
		background-position: 0 -47px;
	}
	.notify_type {
		padding: 1px 18px 2px 18px;
		background-repeat: no-repeat;
		background-position: 0 50%;
	}
	.notify_sms {
		background-image: url(/images/icons/notify-sms.png);
	}
	.notify_email {
		background-image: url(/images/icons/notify-email.png);
	}
	.notify_im {
		background-image: url(/images/icons/notify-im.png);
	}


/* index view */

td.person a, th.person a {
  background-image: url(/images/icons/personType.png);
  width: 12px;
  height: 14px;
  display: block;
  text-indent: -3000px;
  margin: 0 auto 0 auto;
}
th.person a.personType {	
  background-position: 0 2px;
}
td.person a.user {	
  background-position: 0 -98px;
}
td.person a.admin {	
  background-position: 0 -198px;
}
td.person a.contact {	
  background-position: 0 -298px;
}
