<%#
++
Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is 
governed by the GPLv2.

Report issues and contribute at http://dev.joyent.com/

$Id$
--
-%>

<div class="message">
<pre style="font-family: 'Lucida Grande', Verdana, sans-serif;white-space:pre-wrap;white-space:-moz-pre-wrap;font-size:11px;line-height:1.5em;color:#333;;"><%= html_for_display @message %></pre>
</div>