<% # Copyright 2004-2007 Joyent Inc. -%>
<% # -%>
<% # Redistribution and/or modification of this code is governed -%>
<% # by either the GPLv2 or Joyent Commercial Software licenses. -%>
<% # -%>
<% # Report issues and contribute at http://dev.joyent.com/ -%>
<% # -%>
<% # $Id$ -%>

<%= add_to_workspace(:todays_events, User.selected) %>
<hr />
<%= link_to "RSS", calendar_todays_events_rss_url(:id => User.selected), { :class => 'orangeBadge rss', :title=> _('Subscribe to this RSS feed') } %>