/* Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is governed
by either the GPLv2 or Joyent Commercial Software licenses.

Report issues and contribute at http://dev.joyent.com/

$Id$ */

/* Dock -------------------------------------------------------------- */

	#calendar .dockCalendar a {	
		width: 133px;
		}

/* Toolbar (actions) ------------------------------------------- */

	.actionMonthView a {
		width: 109px !important;
		background-image: url(/images/lang/it/actionsCalendar.png);
		}
	.actionListView a {
		width: 128px !important;
		background-image: url(/images/lang/it/actionsCalendar.png);
		}
	.actionToday a {
		width: 114px !important;
		background-image: url(/images/lang/it/actionsCalendar.png);
		}
	.actionWeekView a {
		width: 94px !important;
		background-image: url(/images/lang/it/actionsCalendar.png);
		}
	.actionOverlayUser a {
		width: 128px !important;
		background-image: url(/images/lang/it/actionsCalendar.png);
		}
	.actionToday a {	
		width: 58px !important;
		background-image: url(/images/lang/it/actionsCalendar.png);
		}	