/* Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is governed
by either the GPLv2 or Joyent Commercial Software licenses.

Report issues and contribute at http://dev.joyent.com/

$Id$ */

/* Dock -------------------------------------------------------------- */

	#people .dockPeople a {	
		width: 112px;
		}

/* Toolbar (actions) ------------------------------------------- */

	.actionJajah a {	
		width: 117px !important;
		background-image: url(/images/lang/it/actionsPeople.png);
		}