/* Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is governed
by either the GPLv2 or Joyent Commercial Software licenses.

Report issues and contribute at http://dev.joyent.com/

$Id$ */

/* Dock ----------------------------------------------------------------- */
	
	/* This stuff will be moved
	to a new set of app specific
	CSS files, that persist across
	all apps */	
	.dockConnect a {	
		background-image: url(/images/lang/it/app-connect.png);
		}
	.dockMail a {	
		background-image: url(/images/lang/it/app-mail.png);
		}
	.dockCalendar a {		
		background-image: url(/images/lang/it/app-calendar.png);
		}
	.dockPeople a {	
		background-image: url(/images/lang/it/app-people.png);
		}
	.dockFiles a {	
		background-image: url(/images/lang/it/app-files.png);
		}
	.dockBookmarks a {	
		background-image: url(/images/lang/it/app-bookmarks.png);
		}
	.dockLists a {	
		background-image: url(/images/lang/it/app-lists.png);
		}
	/* end stuff */


/* Sidebar Tabs ----------------------------------------------------------------- */


	.sidebarTab a {
		background-image: url(/images/lang/it/tabs.png);
		}
	#groupsSidebarTab a {
		height: 83px;
		}	
	#rulesSidebarTab a {
		height: 86px;
		}	
	#tagsSidebarTab a {
		height: 80px;
		}	
	#accessSidebarTab a {
		height: 82px;
		}	
	#notifySidebarTab a {
		height: 87px;
		}	


/* General Toolbar (actions) -------------------------------------------- */

	.actionMove a {	
		width: 72px !important;
		background-image: url(/images/lang/it/actionsGeneral.png);
		}
	.actionCopy a {	
		width: 65px !important;
		background-image: url(/images/lang/it/actionsGeneral.png);
		}
	.actionCopyDirect a {	
		width: 62px !important;
		background-image: url(/images/lang/it/actionsGeneral.png);
		}
	.actionNew a {	
		width: 65px !important;
		background-image: url(/images/lang/it/actionsGeneral.png);
		}
	.actionImport a {
		width: 77px !important;
		background-image: url(/images/lang/it/actionsGeneral.png);
		}
	.actionShowAll a {
		width: 100px !important;
		background-image: url(/images/lang/it/actionsGeneral.png);
		}
	.actionShowNew a {
		width: 106px !important;
		background-image: url(/images/lang/it/actionsGeneral.png);
		}
	.actionDelete a {	
		width: 70px !important;
		background-image: url(/images/lang/it/actionsGeneral.png);
		}
	.actionSaveSearch a {	
		width: 100px !important;
		background-image: url(/images/lang/it/actionsGeneral.png);
		}
	.actionTools a {	
		width: 85px !important;
		background-image: url(/images/lang/it/actionsGeneral.png);
		}
	.actionEdit a {
		width: 74px !important;
		background-image: url(/images/lang/it/actionsGeneral.png);
		}
	
/* Spanish fixes */

#people #contentPane dt {
	width: 13em;
}
#graphLabel {
	width: 13em;
}