/*
++
Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is 
governed by the GPLv2.

Report issues and contribute at http://dev.joyent.com/

$Id$
--
*/

/* App Bar ----------------------------------------------------- */

	#mail .dockMail a {	
		background-position: 0 0px;
		width: 85px;
		}
	#mail .dockMail a:hover {	
		background-position: 0 -38px;
		}

/* Toolbar (actions) ------------------------------------------- */

	.actionCompose a {	
		width: 83px !important;
		background-image: url(/images/lang/en/actionsMail.png);
		}
	.actionEmptyTrash a {
		width: 97px !important;
		background-image: url(/images/lang/en/actionsMail.png);
		}
	.actionReply a {	
		width: 59px !important;
		background-image: url(/images/lang/en/actionsMail.png);
		}
	.actionReplyAll a {	
		width: 76px !important;
		background-image: url(/images/lang/en/actionsMail.png);
		}
	.actionForward a {	
		width: 74px !important;
		background-image: url(/images/lang/en/actionsMail.png);
		}
	.actionNotJunk a {	
		width: 86px !important;
		background-image: url(/images/lang/en/actionsMail.png);
		}
	.actionJunk a {	
		width: 64px !important;
		background-image: url(/images/lang/en/actionsMail.png);
		}
	.actionDeleteAllJunk a {	
		width: 116px !important;
		background-image: url(/images/lang/en/actionsMail.png);
		}
	.actionFlag a {	
		width: 59px !important;
		background-image: url(/images/lang/en/actionsMail.png);
		}
	.actionUnflag a {	
		width: 59px !important;
		background-image: url(/images/lang/en/actionsMail.png);
		}
	.actionSpam a {
    	width: 84px !important;
    	background-image: url(/images/lang/en/actionsMail.png);
	}    
	.actionNotSpam a {
    	width: 84px !important;
    	background-image: url(/images/lang/en/actionsMail.png);
	}   
	.actionDeleteAllSpam a {
    	width: 84px !important;
    	background-image: url(/images/lang/en/actionsMail.png);
	}