/*
++
Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is 
governed by the GPLv2.

Report issues and contribute at http://dev.joyent.com/

$Id$
--
*/

/* Dock -------------------------------------------------------------- */
	
	/* This stuff will be moved
	to a new set of app specific
	CSS files, that persist across
	all apps */	
	.dockConnect a {	
		background-image: url(/images/lang/en/app-connect.png);
		}
	.dockMail a {	
		background-image: url(/images/lang/en/app-mail.png);
		}
	.dockCalendar a {		
		background-image: url(/images/lang/en/app-calendar.png);
		}
	.dockPeople a {	
		background-image: url(/images/lang/en/app-people.png);
		}
	.dockFiles a {	
		background-image: url(/images/lang/en/app-files.png);
		}
	.dockBookmarks a {	
		background-image: url(/images/lang/en/app-bookmarks.png);
		}
	.dockLists a {	
		background-image: url(/images/lang/en/app-lists.png);
		}
	/* end stuff */


/* Sidebar Tabs ------------------------------------------------------ */


	.sidebarTab a {
		background-image: url(/images/lang/en/tabs.png);
		}
	#groupsSidebarTab a {
		height: 83px;
		}	
	#rulesSidebarTab a {
		height: 80px;
		}	
	#tagsSidebarTab a {
		height: 80px;
		}	
	#accessSidebarTab a {
		height: 80px;
		}	
	#notifySidebarTab a {
		height: 83px;
		}	


/* General Toolbar (actions) ----------------------------------------- */

	.actionMove a {	
		width: 66px !important;
		background-image: url(/images/lang/en/actionsGeneral.png);
		}
	.actionCopy a {	
		width: 65px !important;
		background-image: url(/images/lang/en/actionsGeneral.png);
		}
	.actionCopyDirect a {	
		width: 59px !important;
		background-image: url(/images/lang/en/actionsGeneral.png);
		}
	.actionNew a {	
		width: 54px !important;
		background-image: url(/images/lang/en/actionsGeneral.png);
		}
	.actionImport a {
		width: 73px !important;
		background-image: url(/images/lang/en/actionsGeneral.png);
		}
	.actionShowAll a {
		width: 77px !important;
		background-image: url(/images/lang/en/actionsGeneral.png);
		}
	.actionShowNew a {
		width: 86px !important;
		background-image: url(/images/lang/en/actionsGeneral.png);
		}
	.actionDelete a {	
		width: 65px !important;
		background-image: url(/images/lang/en/actionsGeneral.png);
		}
	.actionSaveSearch a {	
		width: 93px !important;
		background-image: url(/images/lang/en/actionsGeneral.png);
		}
	.actionTools a {	
		width: 67px !important;
		background-image: url(/images/lang/en/actionsGeneral.png);
		}
	.actionEdit a {	
		width: 50px !important;
		background-image: url(/images/lang/en/actionsGeneral.png);
		}
	.actionSpam a {
	    width: 64px !important;
	    }
	.actionNotSpam a {
	    width: 85px !important;
	    }
	.actionDeleteAllSpam a {
	    width: 114px !important;
	    }