<% # ++ -%>
<% # Copyright 2004-2007 Joyent Inc. -%>
<% #  -%>
<% # Redistribution and/or modification of this code is  -%>
<% # governed by the GPLv2. -%>
<% #  -%>
<% # Report issues and contribute at http://dev.joyent.com/ -%>
<% #  -%>
<% # $Id$ -%>
<% # -- -%>

<%= link_to "RSS", files_strongspace_rss_url(:path => path), { :class => 'orangeBadge rss', :title=> _('Subscribe to this RSS feed') } %>